<h1>What recipe do you want ?</h1>

    <div class="button">
      <form action="/importing" method="POST">
      <input type="text" placeholder="What recipe do you want ?" name="text"/>
      <input type="submit">
    </div>




