<h1>Welcome to the Cookbook!</h1>

<h3>What do you want to do next?</h3>
<ul>
    <li><div><a href="/list">1 - List all recipes</a></div></li>
    <li><div><a href="/add">2 - Create a new recipe</a></div></li>
    <li><div><a href="/destroy">3 - Destroy a recipe</a></div></li>
    <li><div><a href="/import">4 - Import a recipe from Marmiton</a></div></li>
    <li><div><a href="/mark">5 - Mark a recipe as done</a></div></li>
</ul>



